body {
  background:#f1e1da;
  color:white;
    font-family: Raleway, Helvetica, sans-serif;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

header {
  background:rgba(184, 142, 134, 0.8);
  padding:15px;

  display:flex;
  justify-content:space-between;
}

header a {
  color:white;
  text-decoration:none;
}

.container {
  padding:20px;

  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.box {
  background:rgba(184, 142, 134, 0.8);
  padding:20px;
  border-radius:10px;
}

.table {
  grid-column:span 2;
}
/* Today Summary Box */
.today-box {
  text-align: center;
  font-size: 16px;
}

.today-box p {
  margin: 10px 0;
  color: #4dd0e1;
}

